@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<div class="modal-content">
    <div class="modal-header">
        <img src=@ob.IconLink class="img-thumbnail wborder">
        <div class="ms-2 me-auto txtFont">
            <div class="fw-bold">@ob.EngName</div>
            @ob.KorName
        </div>
    </div>
    <div class="modal-body">
        @if (ob is Digimon)
        {
            <div id="image-model">
                <img src=@ob.ModelLink class="img-thumbnail">
            </div>
        }
        @if (ob is Item)
        {
            <textarea rows="20" readonly>@ob.Description</textarea>
        }
        @if (ob is Tamer)
        {
            <img src=@ob.ModelLink class="img-thumbnail">
        }
        @if (ob is Seal)
        {
            Seal s = (Seal)ob;
            <div class="ms-2 me-auto txtFont">
                <div class="fw-bold">[Master Seal Bonus]</div>
                @s.sealBonus
            </div>
        }
        @if (ob is MemorySkillData)
        {
            <textarea rows="10" readonly>@ob.Description</textarea>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    </div>
</div>

@code {
    [Parameter]
    public DBObject? ob { get; set; }
}