@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<div class="modal-content">
    <div class="modal-header">
        <img src=@ob.IconLink class="img-thumbnail wborder">
        <div class="ms-2 me-auto txtFont">
            <div class="fw-bold">@ob.EngName</div>
            @ob.KorName
        </div>
    </div>
    <div class="modal-body">
        @if (ob is Digimon)
        {
            <div class="row row-cols-auto">
                <div class="col">
                    <img src=@ob.ModelLink class="img-fluid">
                </div>
            </div>
        }
        @if (ob is Item)
        {
            <textarea rows="20" readonly>@ob.Description</textarea>
        }
        @if (ob is Tamer)
        {
            Tamer t = (Tamer)ob;
            <div class="row row-cols-2">
                <div class="col-sm-8" colspan="2">
                    <img src=@ob.ModelLink class="img">
                </div>
                <div class="col-4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">Base Stats Lv1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">HP</th>
                                <td>@t.AT</td>
                            </tr>
                            <tr>
                                <th scope="row">DS</th>
                                <td>@t.DE</td>
                            </tr>
                            <tr>
                                <th scope="row">AT</th>
                                <td>@t.DS</td>
                            </tr>
                            <tr>
                                <th scope="row">DE</th>
                                <td>@t.HP</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive align-middle">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">Skill</th>
                                <th scope="col" colspan="1">Description</th>
                                <th scope="col" colspan="1">Cooldown</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row"><img src=@t.ASkillIcon class=""></th>
                                <td>@t.ASkillName</td>
                                <td>@t.ASkillD</td>
                                <td>@t.ASkillCD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive align-middle">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="align-middle">Buffs</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src=@t.PSkill1A class="align-middle"> @t.PSkill1B</td>
                                <td><img src=@t.PSkill2A class="align-middle"> @t.PSkill2B</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @if (ob is Seal)
        {
            Seal s = (Seal)ob;
            <div class="ms-2 me-auto txtFont">
                <div class="fw-bold">[Master Seal Bonus]</div>
                @s.sealBonus
            </div>
        }
        @if (ob is MemorySkillData)
        {
            <textarea rows="10" readonly>@ob.Description</textarea>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
    </div>
</div>

@code {
    [Parameter]
    public DBObject? ob { get; set; }
}