@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<div class="modal-content">
    <div class="modal-header">
        <img src=@ob.IconLink class="img-thumbnail wborder">
        <div class="ms-2 me-auto txtFont">
            <div class="fw-bold">@ob.EngName</div>
            @ob.KorName
        </div>
    </div>
    <div class="modal-body">

        @if (ob is Digimon)
        {
            Digimon d = (Digimon)ob;
            <div class="row">
                <div class="col">
                    <img src=@ob.ModelLink class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Rank</th>
                                <th scope="col">Attribute</th>
                                <th scope="col">Element</th>
                                <th scope="col">Attacker</th>
                                <th scope="col">Families</th>
                            </tr>
                            <tr>
                                <td><img src=@d.RankIcon class="img"></td>
                                <td><img src=@d.AttributeIcon class="img"></td>
                                <td><img src=@d.ElementIcon class=""></td>
                                <td><img src=@d.AttackerIcon class="img"></td>
                                <td>
                                    @if (@d.Family1 != "")
                                    {
                                        <img src=@d.Family1 class="img">
                                    }
                                    @if (@d.Family2 != "")
                                    {
                                        <img src=@d.Family2 class="img">
                                    }
                                    @if (@d.Family3 != "")
                                    {
                                        <img src=@d.Family3 class="img">
                                    }
                                    @if (@d.Family4 != "")
                                    {
                                        <img src=@d.Family4 class="img">
                                    }
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" colspan="9">Base Stats Lv1/100%</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">HP</th>
                                <th scope="col">DS</th>
                                <th scope="col">AT</th>
                                <th scope="col">AS</th>
                                <th scope="col">CT</th>
                                <th scope="col">HT</th>
                                <th scope="col">DE</th>
                                <th scope="col">EV</th>
                            </tr>
                            <tr>
                                <td>@d.DigimonStat.Hp</td>
                                <td>@d.DigimonStat.Ds</td>
                                <td>@d.DigimonStat.At</td>
                                <td>@d.DigimonStat.AS</td>
                                <td>@d.DigimonStat.Ct</td>
                                <td>@d.DigimonStat.Ht</td>
                                <td>@d.DigimonStat.De</td>
                                <td>@d.DigimonStat.Ev</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2">Skills</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                    <div class="" role="group" aria-label="">
                        @foreach (var s in @d.DigimonSkills)
                        {
                            <div class="row">
                                <div class="col">
                                    <table class="table table-bordered table-responsive">
                                        <thead>
                                            <tr>
                                                <th scope="col" colspan="2" class="title" data-toggle="collapse" data-target="#@s.ToTypeID()"
                                                    aria-expanded="false" aria-controls="collapseExample">
                                                    <img src=@s.IconLink class="img-thumbnail" >
                                                    @s.SkillName
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <div class="collapse" id=@s.ToTypeID()>
                                                <table class="table table-responsive">
                                                    <tbody>
                                                        <tr>
                                                            <th scope="col">Element</th>
                                                            <td scope="col" colspan="2" class=""><img src=@s.ElementIcon class=""> @s.Element</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">SP</th>
                                                            <td>@s.Sp</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Digisoul</th>
                                                            <td>@s.Ds</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Cooldown</th>
                                                            <td>@s.Cd seconds</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Damage Lv0</th>
                                                            <td>@s.Dmglv0</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="col">Damage Lv25</th>
                                                            <td>@s.CalculateSkill(25)</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </div>
                    </td>
                     </tr>                                                        
                    </tbody>
                    </table>
                </div>
            </div>
        }
        @if (ob is Item)
        {
            <textarea rows="20" readonly>@ob.Description</textarea>
        }
        @if (ob is Tamer)
        {
            Tamer t = (Tamer)ob;
            <div class="row">
                <div class="col">
                    <img src=@ob.ModelLink class="img-fluid">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" colspan="4">Base Stats Lv1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">HP</th>
                                <th scope="col">DS</th>
                                <th scope="col">AT</th>
                                <th scope="col">DE</th>
                            </tr>
                            <tr>
                                <td>@t.AT</td>
                                <td>@t.DE</td>
                                <td>@t.DS</td>
                                <td>@t.HP</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="title"><img src=@t.ASkillIcon class="img-thumbnail">
                                    @t.ASkillName - Skill</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Description</th>
                                <td>@t.ASkillD</td>
                            </tr>
                            <tr>
                                <th scope="col">Cooldown</th>
                                <td>@t.ASkillCD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="title"> <img src=@t.PSkillIcon class="img-thumbnail">
                                    @t.PSkill1N - Buff</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src=@t.PSkill1A class=""> @t.PSkill1B</td>
                                <td><img src=@t.PSkill2A class=""> @t.PSkill2B</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @if (ob is Seal)
        {
            Seal s = (Seal)ob;
            <div class="ms-2 me-auto txtFont">
                <div class="fw-bold">[Master Seal Bonus]</div>
                @s.sealBonus
            </div>
        }
        @if (ob is MemorySkillData)
        {
            <textarea rows="10" readonly>@ob.Description</textarea>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
    </div>
</div>

@code {
    [Parameter]
    public DBObject? ob { get; set; }
}