@using DigitalNetWeb.Data.Models;
@using DigitalNetWeb.Data.ModelService;

<div class="modal-content">
    <div class="modal-header">
        <img src=@ob.IconLink class="img-thumbnail wborder">
        <div class="ms-2 me-auto txtFont">
            <div class="fw-bold">@ob.EngName</div>
            @ob.KorName
        </div>
    </div>
    <div class="modal-body">
        @if (ob is Digimon)
        {
            <div class="row row-cols-auto">
                <div class="col">
                    <img src=@ob.ModelLink class="img-fluid">
                </div>
            </div>
        }
        @if (ob is Item)
        {
            <textarea rows="20" readonly>@ob.Description</textarea>
        }
        @if (ob is Tamer)
        {
            Tamer t = (Tamer)ob;
            <div class="row">
                <div class="col">
                    <img src=@ob.ModelLink class="img">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" colspan="4">Base Stats Lv1</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">HP</th>
                                <th scope="col">DS</th>
                                <th scope="col">AT</th>
                                <th scope="col">DE</th>
                            </tr>
                            <tr>
                                <th>@t.AT</th>
                                <td>@t.DE</td>
                                <td>@t.DS</td>
                                <td>@t.HP</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="title"><img src=@t.ASkillIcon class="img-thumbnail">
                                    @t.ASkillName - Skill</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="col">Description</th>
                                <td>@t.ASkillD</td>
                            </tr>
                            <tr>
                                <th scope="col">Cooldown</th>
                                <td>@t.ASkillCD</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="title"> <img src=@t.PSkillIcon class="img-thumbnail">
                                    @t.PSkill1N - Buff</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><img src=@t.PSkill1A class=""> @t.PSkill1B</td>
                                <td><img src=@t.PSkill2A class=""> @t.PSkill2B</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @if (ob is Seal)
        {
            Seal s = (Seal)ob;
            <div class="ms-2 me-auto txtFont">
                <div class="fw-bold">[Master Seal Bonus]</div>
                @s.sealBonus
            </div>
        }
        @if (ob is MemorySkillData)
        {
            <textarea rows="10" readonly>@ob.Description</textarea>
        }
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
    </div>
</div>

@code {
    [Parameter]
    public DBObject? ob { get; set; }
}